.livro{
    width: 320px;
    height: 200px;
    display: flex;
    flex-direction: row;
    border: 1px solid #0909371A;
    border-radius: 4px;
    background-color: #F4F4FF;
}
.capa{
    width: 120px;
    height: 180px;
    margin: 10px 20px 10px 10px;
    box-shadow: 0 4px 8px 0 #6251DD33;
    border-radius: 4px;
    border: none;
}

.especificacoes{
    width: auto;
    height: 180px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    justify-content: space-between;
}

.tituloAutor {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: .25rem;
}
.titulo {
    font-size: 20px;
    font-weight: 600;
    color: #090937;
}
.autor{
    font-size: 16px;
    font-weight: 600;
    color: #09093799;
}
.preco {
    font-size: 24px;
    font-weight: 700;
    color: #6251DD;
    padding-bottom: 10px;
}