.imagemEforms{
    display: flex;
    flex-direction: row;
}
.banner{
    width: 50%;
    height: 100%;
}
.logoWelcomeLogin{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logoEwelcome {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoEwelcome img{
    width: 120px;
    height: 78px;
    margin-top: 80px;
}
.welcomeElogin{
    display: flex;
    flex-direction: column;
    padding-top: 111px;
}
.welcomeElogin h2{
    font-size: 24px;
    font-weight: 600;
    color: hwb(240 4% 78% / 0.6);
}

.welcomeElogin h1{
    font-weight: 700;
    font-size: 32px;
    color: #090937;
}

.emailSenha{
    display: flex;
    flex-direction: column;
    padding-top: 80px;

}
.email{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
.senha{
    display: flex;
    flex-direction: column;
    
}
.emailSenha label{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}
.emailSenha input{
    width: 400px;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    color: hwb(240 4% 78% / 0.6);
    padding-left: 16px;
    background-color: #F4F4FF;
    border: none;
}
.emailSenha input::placeholder{
    font-weight: 400;
    font-size: 20px;
    color: hwb(240 4% 78% / 0.6);

}

.botoes{
    display: flex;
    flex-direction: column;
    padding-top: 145px;
    gap: .625rem;
}

.botaoEntrar{
    width: 400px;
    height: 60px;
    font-size: 24px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #EF6B4A;
}
.botaoCadastro{
    width: 400px;
    height: 60px;
    font-size: 24px;
    font-weight: 600;
    border: 1px solid #6251DD;
    border-radius: 4px;
    color: #6251DD;
    background-color: white;
}

