.mainHome{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner {
    width: 1320px;
    height: 400px;
    padding-top: 40px;
}

.livrosPcategoria{
    width: 1340px;
    height: 264px;
    display: flex;
    flex-direction: column;
    padding-top: 92px;
}

.cabecalho {
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.categoria{
    font-weight: 700;
    font-size: 32px;
}

.btnVermais{
    font-size: 20px;
    font-weight: 700;
    color: #EF6B4A;
    padding-right: 20px;
}

.fileiraLivros {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    align-items: center;
    padding-top: 20px;
}

.livro{
    width: 320px;
    height: 200px;
    display: flex;
    flex-direction: row;
    border: 1px solid #0909371A;
    border-radius: 4px;
}
.capa{
    width: 120px;
    height: 180px;
    margin: 10px 20px 10px 10px;
    box-shadow: 0 4px 8px 0 #6251DD33;
    border-radius: 4px;
    border: none;
}

.especificacoes{
    width: auto;
    height: 180px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    justify-content: space-between;
}

.tituloAutor {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: .25rem;
}
.titulo {
}

