.botaoContainer{
    width: 1320px;
    height: 33px;   
}
.return{
    width: auto;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #090937;
    align-items: center;
}
.return img{
    width: 9.04px;
    height: 15.79px;
    padding: 8.6px 15.6px 8.6px 5.35px;
}

.livros {
    width: 1328px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 31px;
    gap: 2.5rem;
}

