.mainGenero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barraPesquisa{
    width: 800px;
    height: 50px;
    position: relative;
}
.lupa{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    position: absolute;
    padding: 15px 0 15px 20px;
    cursor: pointer;
    margin-top: 45px;
}

.lupa img{
    width: 20px;
    height: 20px;   
}
.input  {
    width: 800px;
    height: 50px;
    background-color: #F4F4FF;
    padding-left: 50px;
    font-size: 20px;
    font-weight: 400;
    color: #09093766;
    border: none;
    border-radius: 4px;
    margin-top: 45px;
}

.input::placeholder{
    font-size: 20px;
    font-weight: 400;
    color: #09093766;
}

.cartoesEcategoria{
    width: 1320px;
    height: 970px;
    padding-top: 140px;
}

.botaoContainer{
    width: 1320px;
    height: 33px;   
}
.return{
    width: 156px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #090937;
    align-items: center;
}
.return img{
    width: 9.04px;
    height: 15.79px;
    padding: 8.6px 15.6px 8.6px 5.35px;
}

.livros {
    width: 1320px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 31px;
}

.card{
    width: 300px;
    height: 433px;
    display: flex;
    flex-direction: column;
    background-color: #F4F4FF;
    border: 1px solid #0909371A;
    border-radius: 4px;
    align-items: center;
}

.card img{
    width: 200px;
    height: 300px;
    box-shadow: 0 4px 8px 0 #6251DD33;
    margin: 20px;
    border-radius: 4px;
}

.especificacoes {
    width: 260px;
    height: 73px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.titulo{
    font-size: 20px ;
    font-weight: 600;
    color: #090937;
}
.autor{
    font-size: 16px;
    font-weight: 600;
    color: #09093799;
}
.precoContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.preco{
    font-size: 24px;
    font-weight: 700;
    color: #6251DD;
    padding-bottom: 10px;
}

